{% extends "base.html" %} {% block content %}
<div>
    <div id="graph_div" style = "width: 100%; height: 500px;" >
        <h2>this is a random graph</h2>
    </div>
</div>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://js.pusher.com/6.0/pusher.min.js"></script>
<script>
    var pusher = new Pusher('611f11d3a4ccc2dc3396', {
      cluster: 'us2'
    });

    var channel = pusher.subscribe('stocks-app');
    channel.bind('fetch-data', function(data) {
        const figure = JSON.parse(data.figure)
        Plotly.newPlot(graph_div, figure)
    });
  </script>

{% endblock %}