{% extends "base.html" %} {% block content %}
<div>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.password.label(class = "my_label") }}
            {{ form.password(class = "my_input") }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <p class="my_error">{{ error}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.confirm_password.label(class = "my_label") }}
            {{ form.confirm_password(class = "my_input") }}
            {% if form.confirm_password.errors %}
                {% for error in form.confirm_password.errors %}
                    <p class="my_error">{{ error}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.submit_new_password(class="my_submit") }}
        </div>
    </form>
</div>

{% endblock %}